body { margin: 0; padding: 0; background-color: #000; color: #ccc; font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }
h1 { font-size: 4rem; font-weight: 300; margin: 0; color: #ccc; display: block; }
h2 { font-size: 1.75rem; margin: 0; color: #ccc; }
a, a.visited { text-decoration: none; border-style: none; color: #87c2ed; }
a img { border: none; }
a.left { float: left; }
a.right { float: right; }
p { font-size: 1rem; color: #ccc; }
p.tiletitle { font-size: 2.5rem; margin-top: 0px; }
p.timestamp { color: #ccc; font-size: 0.75rem; margin-top: 0; }
/*AJAX messages*/
p.success { background-color: #66FF00; color: #000; font-size: 1.5rem; }
p.failed { background-color: #FF0000; color: #fff; font-size: 1.5rem; }
/*Layout*/
.container { width: 100%; margin: none; overflow: visible; background: url('../img/bg.png') 0% 0%/100%; }
.header { width: 100%; background-image: url('../img/trans_bg.png'); text-align: center; }
.fadeout { width: 100%; height: 23px; background-image: url('../img/fade_out.png'); }
.headernavicon { width: 40px; height: 40px; }
.headernavicon:hover { width: 39px; height: 39px; transition: 0.5s ease; }
.footer { width: 100%; padding-top: 1px; background-image: url('../img/trans_bg.png'); text-align: center; }
.fadein { width: 100%; height: 23px; background-image: url('../img/fade_in.png'); }
.fadeblack { width: 100%; height: 23px; background-image: url('../img/fade_in_black.png'); }


.widgetcontainer { margin-left: auto; margin-right: auto; position: relative; width: 322px; overflow: hidden; }


.post { width: 50%; overflow: hidden; margin-left: auto; margin-right: auto; margin-top: 16px; margin-bottom: 16px; }
.post img { width: 80%; height: 80%; }
.postavatar { float: left; }
.commentbox { text-align: center; }

/*Tile defaults*/
.tile, .rectile 
{ 
	background-color: #87c2ed; padding: 0; margin: 10px; position: relative; float: left; height: 200px; border: none; 
	box-shadow: 0px 0px 20px 6px #000; box-sizing: border-box; transition: 0.5s ease;
}
.tile { width: 200px; }
.rectile { width: 420px; }
.tile:hover, .rectile:hover { background-color: #1372BD; border: 20px solid rgba(0, 0, 0, 0.6); }
/*Tile overrides*/
.abouttile {	background-image:url('../img/tile_about_bg.png'); }
.blogtile { background-image:url('../img/tile_blog_bg.png'); }
.contacttile { background-image:url('../img/tile_contact_bg.png'); }
.photostile { background-image:url('../img/tile_photos_bg.png'); }
.projectstile { background-image:url('../img/tile_projects_bg.png'); }
.videostile { background-image:url('../img/tile_videos_bg.png'); }
/*Opaque borders*/
.aero  
{ 
	position: relative; border-width: 32px; border-style: solid;
	border-image: url('../img/aero.png') 32 32 32 32 fill repeat;
	-moz-border-image: url('../img/aero.png') 32 32 32 32 repeat;
	-webkit-border-image: url('../img/aero.png') 32 32 32 32 repeat;
	-o-border-image: url('../img/aero.png') 32 32 32 32 repeat;
	padding-bottom: 16px;
	behavior: url('../css/PIE.htc');
}
/*Third party overrides*/
.youtube { width: 100%; height: 445px; border: none; }
.flickr_badge_image { float: left; }
.adsbygoogle { margin-top: 0px; }
#recaptcha_area { margin: 0 auto; width: 50%; }