<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ constants.firstName }} {{ constants.lastName }}</title>

        {% include './headMeta.html.njk' %}
    </head>
    <body>
        {% include './header.html.njk' %}

        {% block contentBlocks %}
        {% endblock %}

        {% include './footer.html.njk' %}
    </body>
</html>
