<footer>
    <p>&copy; {{ constants.firstName }} {{ constants.lastName }}</p>
    <p>
        This site is Open Source.
        <a href="{{ constants.githubSiteLink}}" target="_blank">Code available on GitHub.</a>
    </p>
</footer>
