<footer>
    <p>&copy; {{ constants.firstName }} {{ constants.lastName }}</p>
    <p>
        This site is Open Source. Current revision {{ constants.gitRevision() }}.
        <a href="{{ constants.githubSiteLink}}" target="_blank" rel="noopener">Code available on GitHub.</a>
    </p>
</footer>
