<header>
    <div class="top-avatar"></div>

    <h1>{{ constants.firstName }} <strong>{{ constants.lastName }}</strong></h1>

    <nav>
        {% for link in links %}
            <a href="{{ link.url }}" title="{{ link.title }}" target="_blank" rel="noopener">
                {{ link.title }}
            </a>
        {% endfor %}
    </nav>
</header>
