{% extends 'base.html.twig' %}

{% block body %}
<div class="fadein"></div>
<div class="post">
    <h2>{{ PAGETITLE }}</h2>
    {{ PAGECONTENT }}
</div>
<div class="fadeout"></div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
