<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ constants.firstName }} {{ constants.lastName }}</title>

        {% include 'headMeta.html.twig' %}
    </head>
    <body>
        <div class="container">
            {% include 'header.html.twig' %}

            {% include 'about.html.twig' %}
            {% include 'tagCloud.html.twig' %}

            {% include 'footer.html.twig' %}
        </div>
    </body>
</html>
