<?xml version="1.0" encoding="utf-8"?>
<browserconfig>
    <msapplication>
        <tile>
            <square70x70logo src="/{{ constants.faviconPrefix }}-72x72.png?v={{ constants.gitRevision() }}"/>
            <square150x150logo src="/{{ constants.faviconPrefix }}-152x152.png?v={{ constants.gitRevision() }}"/>
            <TileColor>{{ constants.themeColor }}</TileColor>
        </tile>
    </msapplication>
</browserconfig>
