const CACHE_NAME = 'a-birkett-site-cache';
const urlsToCache = [
    '/',
    {% for file in files %}
        '{{ file }}',
    {% endfor %}
];

self.addEventListener('install', (event) => {
    event.waitUntil(
        caches.open(CACHE_NAME)
            .then((cache) => cache.addAll(urlsToCache))
            .catch((err) => console.log(err))
    );
});

self.addEventListener('fetch', (event) => {
    event.respondWith(
        fetch(`/${event.request.url}`)
            .catch( () => caches.match(event.request))
    );
});
