{
    "name": "{{ constants.firstName }} {{ constants.lastName }}",
    "short_name": "{{ constants.firstName }} {{ constants.lastName }}",
    "display": "minimal-ui",
    "start_url": "/",
    "icons": [
        {
            "src": "/{{ constants.faviconPrefix }}-195x195.png?v={{ constants.gitRevision() }}",
            "sizes": "192x192",
            "type": "image/png",
            "purpose": "any maskable"
        }
    ],
    "theme_color": "{{ constants.themeColor }}",
    "background_color": "{{ constants.themeColor }}"
}
