/**
 * Overridden by the gulp task.
 */
$siteVersion: 'x' !default;

/**
 * Constants used throughout the style sheet.
 */
$headings-font:  'Francois One', monospace;
$paragraph-font: monospace;

$text-color:            #CCCCCC;
$link-color:            #87C2ED;
$background-color:      #111111;
$body-background-color: #000000;

$avatar-size: 15em;

/**
 * Transparent elements.
 */
$opacity: 0.9;
$transparent-black: rgba(0, 0, 0, $opacity);

/**
 * Transitions.
 */
$transition-type:  ease;
$transition-time:  1s;
$transition-scale: 1.1;

%default-transition {
    transform:  scale($transition-scale);
    transition: $transition-type $transition-time;
}

/**
 * Common macros.
 */
%heading {
    font-family:    $headings-font;
    text-transform: uppercase;
}

%transparent {
    background-color: $transparent-black;
    text-align:       center;
}

/**
 * SVG paths.
 */
$avatar-svg:      '../img/avatar.svg?v=#{$siteVersion}';
$bg-gradient-svg: '../img/bg_gradient.svg?v=#{$siteVersion}';
$bg-squares-svg:  '../img/bg_squares.svg?v=#{$siteVersion}';
