/**
 * Defines the basic layout.
 */
@import "constants";

header,
footer,
section {
    @extend %transparent;
    width:      50%;
    overflow:   hidden;
    margin:     0 auto;
    padding:    1%;
    box-sizing: border-box;
}

.top-avatar {
    &:hover {
        @extend %default-transition;
    }

    display:          inline-block;
    width:            $avatar-size;
    height:           $avatar-size;
    border-radius:    50%;
    background-image: url($avatar-svg);
    background-size:  $avatar-size $avatar-size;
}

@media (max-width: $mobile-breakpoint), print {
    header,
    footer,
    section {
        width:   100%;
        padding: 5%;
    }
}
