/**
 * Defines the basic layout for mobile and small screens.
 */
@media (max-width: 800px) {
    .container {
        .content {
            /** Make content the full width on small screens */
            width: 100%;

            /** Images in content slightly larger than normal */
            img {
                width: 90%;
                height: 90%;
            }
        }
    }
}
