/**
 * Style for the tag cloud.
 */
@import 'constants';

.tag-cloud {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            padding: 0.25em;

            span {
                &:hover {
                    @extend %default-transition;
                    -webkit-backface-visibility: hidden;
                }

                position: relative;
                display: inline-block;
                line-height: 2em;
                padding: 0 1em 0 0.75em;
                border-radius: 0.5em;
                text-decoration: none;
                font-size: 1.25em;
                font-weight: 600;
            }
        }
    }
}
