/**
 * Style for the tag cloud.
 */
@import "constants";

.tag-cloud {
    h3 {
        font-style: italic;
        margin: 25px;
    }

    ul {
        margin:     0;
        padding:    0;
        list-style: none;

        li {
            display: inline-block;
            padding: 2px;

            a {
                &:hover {
                    @extend %default-transition;
                    -webkit-backface-visibility: hidden;
                }

                position:         relative;
                display:          inline-block;
                line-height:      30px;
                padding:          0 1em 0 .75em;
                border-radius:    5px;
                text-decoration:  none;
            }
        }
    }
}
