/**
 * Style for the tag cloud.
 */
@import 'constants';

.tag-cloud {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li,
        a,
        span {
            &:hover {
                @extend %default-transition;
                -webkit-backface-visibility: hidden;
            }

            position: relative;
            display: inline-block;
            line-height: 0.5em;
            padding: 0.75em;
            border-radius: 0.5em;
            text-decoration: none;
            font-size: 1.1em;
            font-weight: 600;
        }
    }
}
