/**
 * Defines the main site style rules.
 */
@import "constants";
@import 'layout';
@import 'tagCloud';

body {
    margin:      0;
    padding:     0;
    font-family: $paragraph-font;
}

h1 {
    @extend %heading;
    font-size:   4em;
    font-weight: 300;
    margin:      0;
    display:     block;
}

h2 {
    @extend %heading;
    font-size: 2.5em;
    margin:    0 0 5% 0;
}

h3 {
    @extend %heading;
    font-size: 1.5em;
}

a, a.visited {
    text-decoration: none;
    border-style:    none;
    color:           $link-color;
}

nav {
    a {
        display:   inline-block;
        margin:    1.25em;
        font-size: 1.25em;
    }
}

p {
    font-size: 1.25em;
}

strong {
    font-size: 1.25em;
}

@media screen {
    body {
        color:      $text-color;
        background: url($bg-gradient-svg) 0 0%/100%,
                    url($bg-squares-svg) 0 0%/5%,
                    $background-color;
    }

    a, a.visited {
        color: $link-color;
    }
}

@media print {
    body {
        color:      $text-color-print;
        background: $background-color-print;
    }

    header,
    section,
    footer {
        background-color: $background-color-print;
    }

    a, a.visited {
        color: $link-color-print;
    }
}
