{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="fadein"></div>
<div class="post">
    <h2>{{ page.getPagename() }}</h2>
    {{ page.getPagecontent() }}
</div>
<div class="fadeout"></div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
