{% extends '../common/contentBlock.html.njk' %}

{% block title %}
    <h2>{{ constants.firstName }} in words</h2>
{% endblock %}

{% block content %}
    {% for groupTitle, groupTags in tagGroups %}
        <div class="tag-cloud">
            <h3>{{ groupTitle }}</h3>
            <ul>
                {% for tag in groupTags %}
                    <li>
                        <a {% if tag.url is defined %} href="{{ tag.url }}" target="_blank" rel="noopener"{% endif %} style="color: {{ tag.textColor }}; background-color: {{ tag.bgColor }};">
                            <span>{{ tag.title }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}
