{% extends '../common/contentBlock.html.njk' %}

{% block title %}
    <h2>{{ constants.firstName }} in words</h2>
{% endblock %}

{% block content %}
    {% for groupTitle, groupTags in tagGroups %}
        <div class="tag-cloud">
            <h3>{{ groupTitle }}</h3>
            <ul>
                {% for tag in groupTags %}
                    <li>
                        <span style="color: {{ tag.textColor }}; background-color: {{ tag.bgColor }};">
                            {% if tag.url is defined %}
                                <a href="{{ tag.url }}" target="_blank" rel="noopener" style="color: {{ tag.textColor }}; background-color: {{ tag.bgColor }};">
                                    {{ tag.title }}
                                </a>
                            {% else %}
                                {{ tag.title }}
                            {% endif %}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}
